@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f4f0;
}

.db {
  /* border: 1px solid salmon; */
}

* {
  box-sizing: border-box;
}

/* หน้าindex */
/* nav bar */
.nav-bar {
  position: fixed;
  bottom: 17px;
  left: 20px;
  right: 20px;

  padding-left: 50px;
  padding-right: 50px;

  background: white;
  border-radius: 40px;
}

/* profile top bar */
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-top: 46px;
  padding-left: 20px;
  padding-right: 21px;
}

.profile-pic {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-text {
  width: 100%;
  padding-left: 11px;
  padding-right: 21px;
}

.greeting {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

/* search bar */
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.searchbar {
  padding-top: 14px;
  padding-bottom: 14px;
  background: white;
  width: 100%;
  height: 52px;
  border-radius: 30px;
  margin-top: 20px;
  padding-left: 21px;
  padding-right: 88%;
}

.search-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  color: #bdbdbd;
}

/* search filter */
.filter-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-left: 15px;
  background: white;
  border-radius: 20px;
  padding-top: 18.5px;
  padding-bottom: 18.5px;
  padding-left: 16.5px;
  padding-right: 16.5px;
}

.filter-icon {
  width: 19px;
  height: 15px;
}

/* ปุ่มpopular */
#Category {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 20px;
}

.popular-button {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 37px;
  padding-right: 37px;

  margin-top: 20px;
  margin-right: 12px;

  background: #4d55f5;
  border-radius: 30px;
}

.popular-text {
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

/* ปุ่มrandom */
.random-button {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 35px;
  padding-right: 35px;

  margin-top: 20px;
  margin-right: 12px;

  background: white;
  border-radius: 30px;
}

.random-text {
  color: black;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

/* การ์ดสินค้า */
.card_wrapper {
  padding-top: 0px;
  margin: 20px;
  border-radius: 50px 50px 20px 20px;
  background: white;
}

.card_wrapper .card-box {
  width: 100%;
  height: auto;
}

.card_wrapper .description {
  padding-left: 20px;
  padding-right: 9.5px;
  padding-top: 10px;
  padding-bottom: 20px;

  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 600;
}

.card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.card-row a {
  width: 25%;
}

/* หน้าpost */
/* top bar */
.topbar {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 45px;
  padding-bottom: 26px;

  background: white;
  border-radius: 0px 0px 20px 20px;
}

/* ปุ่มpost */
.post-button {
  padding-left: 42.5px;
  padding-right: 42.5px;
  padding-top: 10px;
  padding-bottom: 10px;

  background: #4d55f5;
  border-radius: 20px;
}

.post-text {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 600;
  color: white;
}

/* เพิ่มรูป */
.addimg_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 0px;
  padding-bottom: 46px;

  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;

  border-radius: 20px;
  background: white;
  border: 1px solid #bdbdbd;
}

.addimg_wrapper:hover {
  border-color: #4d55f5;
}

.addimg_wrapper .icon-star {
  padding-left: 90%;
}

.addimg_wrapper .icon {
  padding: 7px;
  margin-top: 40px;
  background: #4d55f5;
  border-radius: 10px;
}

.addimg_wrapper .description {
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400px;
  color: #bdbdbd;
}

.addimg_wrapper .cover {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400px;
  color: #bdbdbd;
}

.addimg-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.addimg-row a {
  width: 25%;
}

/*ช่องกรอกชื่อสินค้า */
.name-box {
  max-width: 100%;

  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;

  background: white;
  border-radius: 20px;
  border: 1px solid #bdbdbd;
}

.name-box:hover {
  border-color: #4d55f5;
}

.name-text {
  display: flex;
  justify-content: space-between;

  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400px;
  color: #bdbdbd;
}

/* ช่องใส่คำอธิบายสินค้า */
.description-box {
  max-width: 100%;

  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 107px;

  background: white;
  border-radius: 20px;
  border: 1px solid #bdbdbd;
}

.description-box:hover {
  border-color: #4d55f5;
}

.description-text {
  display: flex;
  justify-content: space-between;

  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400px;
  color: #bdbdbd;
}

/* tag's part */
.tags {
  margin-top: 53px;
  padding-left: 20px;

  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700px;
  color: black;
}

/* คำอธิบายแท็ก */
.your-card {
  margin-top: 3px;
  padding-left: 20px;

  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400px;
  color: black;
}

/* คำอธิบายแท็ก */
.your-interested-card {
  margin-top: 20px;
  padding-left: 20px;

  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400px;
  color: black;
}

/* ช่องกรอกแท็ก */
.tag-box {
  max-width: 100%;

  margin-top: 4px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;

  background: white;
  border-radius: 20px;
  border: 1px solid #bdbdbd;
}

.tag-box:hover {
  border-color: #4d55f5;
}

.tag-text {
  display: flex;
  justify-content: space-between;

  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400px;
  color: #bdbdbd;
}

/* ทำให้ช่องสำหรับกรอกความกว้างเท่าจอ */
.post_wrapper {
  width: 100vw;
}

/* หน้าnoti */
/* top bar */
.notitopbar {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  background: white;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 45px;
  padding-bottom: 45px;

  border-radius: 0px 0px 20px 20px;
}

.noti-text {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700px;
  color: black;
}

.message_wrapper {
  margin: 20px;
  padding: 10px;
  border-radius: 40px;
  background: white;
}

/* รายละเอียดในกล่องข้อความ */
.message_wrapper .message-box {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-right: 75%;
}

/* รายละเอียดการขอswap */
.message_wrapper .swap-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0%;

  border: 1px solid pink;
}

/* usernameที่มาขอswapการ์ด */
.message_wrapper .username {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600px;
  color: black;
}

/* ชื่อการ์ดที่ขอมาแลกกับเรา */
.message_wrapper .message1 {
  margin-right: 5px;

  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700px;
  color: black;
}

/* ชื่อการ์ดที่เรามี*/
.message_wrapper .message2 {
  margin-left: 5px;

  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700px;
  color: black;
}
