@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f4f0;
}

.nav-bar {
  position: fixed;
  bottom: 17px;
  left: 20px;
  right: 20px;
  background: white;
  border-radius: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

.db {
  border: 1px solid salmon;
}

* {
  box-sizing: border-box;
}

#profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-top: 46px;
  padding-left: 20px;
  padding-right: 21px;
}

.profile-pic {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-text {
  width: 100%;
  padding-left: 11px;
  padding-right: 21px;
}

.greeting {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

#Search {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding: 12px, 0px, 12px, 21px;
}

.searchbar {
  padding-top: 14px;
  padding-bottom: 14px;
  background: white;
  width: 100%;
  height: 52px;
  border-radius: 30px;
  margin-top: 20px;
  padding-left: 21px;
  padding-right: 192px;
}

.search-text {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
}

.filter-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-left: 15px;
  background: white;
  border-radius: 20px;
  padding-top: 18.5px;
  padding-bottom: 18.5px;
  padding-left: 16.5px;
  padding-right: 16.5px;
}

.filter-icon {
  width: 19px;
  height: 15px;
}

#Category {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 20px;
}

.popular-button {
  padding-top: 14px;
  padding-bottom: 14px;
  background: #4d55f5;
  border-radius: 30px;
  margin-top: 20px;
  margin-right: 12px;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 16px;
}

.popular-text {
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.random-button {
  padding-top: 14px;
  padding-bottom: 14px;
  background: white;
  width: 127px;
  height: 51px;
  border-radius: 30px;
  margin-top: 20px;
  margin-right: 12px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 16px;
}

.random-text {
  color: black;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.card_wrapper {
  /* border: 2px solid purple; */
  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.1); */
  padding-top: 0px;
  margin: 20px;
  border-radius: 30px 30px 20px 20px;
  background: white;
}

/* กรอบเส้นเหมือนของ Card Wrapper ไม่ได้อยู่แค่ตัวรูป */
.card_wrapper .card_picture {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.card_wrapper .description {
  /* border: 1px solid green; */
  /* padding: 10px, 10px, 20px, 10px; */
  border-radius: 20px;
  padding-left: 9.5px;
  padding-right: 9.5px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 600;
}

.card-row {
  /* border: 1px solid salmon; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.card-row a {
  width: 50%;
}

.addimg_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 46px;
  padding-bottom: 46px;

  margin-top: 130px;
  margin-left: 20px;
  margin-right: 20px;

  border-radius: 20px;
  background: white;
  border: 1px solid #bdbdbd;
}

.addimg_wrapper .icon {
  padding: 7px;
  background: #4d55f5;
  border-radius: 10px;
}

.addimg_wrapper .description {
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400px;
  color: #bdbdbd;
}

.addimg_wrapper .cover {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400px;
  color: #bdbdbd;
}

.addimg-row {
  /* border: 1px solid salmon; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.addimg-row a {
  width: 50%;
}
