@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
}

.nav-bar {
  position: fixed;

  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.UserBar {
  background: #f6f5fa;
  margin: 0px;
  padding: 15px;
}

.db {
  border: 1px solid salmon;
}

* {
  box-sizing: border-box;
}

#top-nav {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 2px solid blue; */
  width: 100%;
  padding-right: 12px;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid black; */
}

.profile-pic {
  background: #ffe7ef;
  border-radius: 12px;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic img {
  width: 24px;
  height: 24px;
}

.info-text {
  width: 100%;
  padding-left: 12px;
}

.name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 100%;
}

.level {
  margin-top: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 100%;
  color: #ac89cb;
}

.article-card-wrapper {
  box-shadow: 0 0 50 rgba(0, 0, 0, 1);
  padding: 15px;
  border-radius: 14px;
}
